@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');

/* html, body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
} */

body {
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}


* {
  box-sizing: border-box;
}
.cardo-regular {
    font-family: "Cardo";
    font-weight: 400;
    letter-spacing: 1.4px;
    list-style: none;
    line-height: 1.6;
    /* text-transform: uppercase; */
    font-style: normal;
    font-size: 14.4px;
    color: #000000;
  }
  .cardo-regular-nav {
    font-family: "Cardo";
    font-weight: 400;
    letter-spacing: 1.4px;
    list-style: none;
    line-height: 1.6;
    /* text-transform: uppercase; */
    font-style: normal;
    font-size: 19.4px;
    color: #000000;
  }
  .cardo-regular-blog-text {
    font-family: "Cardo";
    font-weight: 400;
    letter-spacing: 1.4px;
    list-style: none;
    line-height: 1.6;
    /* text-transform: uppercase; */
    font-style: normal;
    font-size: 19.4px;
    color: #000000;
  }